- if logged_in?

  .feed.row
    .offset-1.col-10.offset-md-2.col-md-8.offset-lg-0.col-lg-2.side-menu.bg-light
      .btn.btn-info.timeline-select.top-select
        %i.fas.fa-history
        %span タイムライン

      .btn.btn-outline-info.trend-select.second-select
        %i.fas.fa-poll-h
        %span トレンド

      = link_to articles_path, class: 'btn btn-outline-info' do
        %i.fas.fa-hourglass-half
        新着順


    .offset-md-1.col-md-10.offset-lg-1.col-lg-8

      .timeline.top
        %h2.h2.center タイムライン

        = render 'shared/following_feed'

      .trend.second
        %h2.h2.center トレンド

        = render 'shared/trend_feed'

- else
  .introduction.bg-info
  .introduction-headline
    %h1.text-white Failure teaches success.
  %p.center.text-white「失敗共有SNS」FaiLa をはじめよう。

  .signup-or-login.center
    .signup-select.select-left
      %p.text-white 新規登録
    .login-select.select-right
      %p.text-white ログイン

  .signup-buttons.feed-left.offset-lg-2.offset-md-1
    = link_to new_user_path, class: 'email-btn'  do
      %i.far.fa-envelope
      %span メールアドレスで登録
    = link_to '/auth/twitter', class: 'twitter-btn' do
      %i.fab.fa-twitter
      %span Twitterで登録
    = link_to '/auth/google_oauth2', class: 'google-btn' do
      %i.fab.fa-google
      %span Googleで登録

  .login-buttons.feed-right.offset-lg-2
    = link_to login_path, class: 'email-btn'  do
      %i.far.fa-envelope
      %span メールアドレスでログイン
    = link_to '/auth/twitter', class: 'twitter-btn' do
      %i.fab.fa-twitter
      %span Twitterでログイン
    = link_to '/auth/google_oauth2', class: 'google-btn' do
      %i.fab.fa-google
      %span Googleでログイン

  .introduction-detail

    .select-posting-explanation
      %h2.center.text-info 投稿方法を選ぼう
      %p.center.text-secondary 長さに応じて投稿方法を選ぶことができます。

      .two-types-explanation
        .left-explanation
          %h3 記事
          %i.far.fa-edit.fa-4x
          %p.text-secondary.mobile-none マークダウン記法で書くことができます。
          %p.text-secondary.mobile-none 他のユーザーの投稿にコメントをつけることができます。
          %span.text-secondary.mobile-only マークダウン記法で書くことができます。他のユーザーの投稿にコメントをつけることができます。

        .right-explanation
          %h3 つぶやき
          %i.far.fa-comment-dots.fa-4x
          %p.text-secondary.mobile-none 280文字以内の投稿をすることができます。
          %p.text-secondary.mobile-none 他のユーザーに返信することができます。
          %span.text-secondary.mobile-only 280文字以内の投稿をすることができます。他のユーザーに返信することができます。

      .ac-explanation
        %h2.center.text-info 投稿を楽しもう
        %p.center.text-secondary ユーザーをフォローしたり、いいねしたりできます。

        .two-types-explanation
          .left-explanation
            %h3 フォロー
            %i.fas.fa-user-plus.fa-4x
            %p.text-secondary フォローするとタイムラインに投稿が表示されます。
            %p.text-secondary 面白い投稿をしている人を見かけたら、積極的にフォローしてみましょう。

          .right-explanation
            %h3 いいね
            %i.fas.fa-heart.fa-4x
            %p.text-secondary 記事、つぶやき、コメントにはいいねをすることができます。
            %p.text-secondary トレンドには、最近の投稿がいいねが多い順に表示されます。
