- provide(:title, "新規投稿")
.d-flex.align-items-center
  %h1.h1 投稿
.form-group
  = form_with model: @article, local: true do |f|
    = render 'shared/error_messages', object: f.object
    = f.label :title
    = f.text_field :title, class: 'form-control col-12 col-md-6'

    #editor
      .form_content
        = f.label :content, id: 'form-content'
        = f.text_area :content, class: 'textarea rounded', rows:10, "v-model" => "input", name: "article[content]"
      .preview
        %span#preview プレビュー
        .border.preview-form.rounded{"v-html" => "input | marked"}

    = f.submit '投稿', class: 'btn btn-info btn-block'

:javascript
  window.onload = function() {
    new Vue({
      el: '#editor',
      data: {
        input: '',
      },
      filters: {
        marked: marked,
      },
    });
  };
