.article.col-md-10.offset-md-1
  .article-detail
    .article-header
      .article-title
        = @article.title
      %span.by by
      = link_to @article.user.name, @article.user, class: 'article-author'
      %hr
    .article-content
      = markdown("#{@article.content}")

    .article-footer
      %span.timestamp #{ time_ago_in_words(@article.created_at)}前
      .article-likes
        %span.to-like Likes
        - if current_user.already_liked?
          = button_to article_like_path(@article), method: :delete do
            %i.fas.fa-heart.fa-2x.article-like-icon
        - else
          = button_to article_likes_path(@article) do
            %i.far.fa-heart.fa-2x.article-like-icon
  %hr
  .comments
    = render 'comments/comment_form'
    = render 'comments/comments_index'
