.article.col-md-10.offset-md-1
  .article-detail
    .article-header
      .article-title
        = @article.title
      %span.by by
      = link_to @article.user.name, @article.user, class: 'article-author'
      %hr
    .article-content
      = markdown("#{@article.content}")

    .article-footer
      %span.timestamp #{ time_ago_in_words(@article.created_at)}前
      = render 'likes/article_likes'

  %hr
  .comments
    = render 'comments/comment_form'
    = render 'comments/comments_index'
