.article.col-md-10.offset-md-1
  .article-detail
    .article-header
      .article-title
        = @article.title
      %span.by by
      = link_to @article.user.name, @article.user, class: 'article-author'

      -if current_user == @article.user
        =button_to '削除', @article, method: :delete,
                    data: { confirm: '本当に削除しますか？' },
                    class: 'h6 form-inline'
      %hr

    .article-content
      = markdown("#{@article.content}")

    .article-footer
      %span.timestamp #{ time_ago_in_words(@article.created_at)}前
      .article-likes{id: "like-form-article-#{@article.id}"}
        = render partial: 'likes/like_form', locals: { object: @article, likeable_type: 'Article',
                                                       likeable_id: @article.id, user_id: @article.user.id }

  %hr
  .comments
    = render 'comments/comment_form'
    = render 'comments/comments_index'
