.col-12.offset-md-3.col-md-6.offset-lg-0.col-lg-3.bg-light.user-info
  -if @user.icon.attached?
    = image_tag @user.icon, size: '80x80', class: 'user-icon'

  - elsif @user.image_url
    = image_tag @user.image_url, size: '80x80', class: 'user-icon'

  -else
    = image_tag 'default_icon.jpeg', size: '80x80', class: 'user-icon'

  %h3#user-name= @user.name
  %p.user-unique-name= "@#{@user.unique_name}"

  #follow-form
    - if identification
      =link_to 'プロフィールを編集する', setting_form_user_path(@user),
                                      class: 'btn btn-success btn-sm text-nowrap font-weight-bold edit-user-info'

    - elsif logged_in? && current_user.following?(@user)
      = render 'unfollow'

    - elsif logged_in?
      = render 'follow'

    - else
      = button_to 'フォロー', relationships_path, class: 'btn btn-outline-info follow-button'

  - unless @user.profile.nil?
    .user-profile
      = @user.profile

  .col-6.user-followers
    = link_to followers_user_path(@user) do
      %span フォロワー
      %p#follower-count= @user.followers.count
