= render 'layouts/post_form_modal'

.fixed-top
  %nav.navbar.navbar-expand.text-secondary.header.bg-info
    .container
      = link_to 'FaiLa', root_path, id: "logo"

      %ul.navbar-nav.navbar-right

        -if !logged_in?
          %li.nav-item.fix-margin.mobile-none= link_to '概要',    '#'
          %li.nav-item.fix-margin=             link_to 'ログイン', login_path
          %li.nav-item.fix-margin=             link_to '新規登録', new_user_path

        -else
          -# 検索フォーム
          = form_with url: search_path, method: :get, local: true do |f|
            %span.fa-search.mobile-none
              %i.fas.fa-search
            = f.text_field :search, placeholder: 'キーワードを入力', class: 'fix-margin mobile-none search-form'

            /* スマホ向けデザイン */
          = form_with url: search_path, method: :get, local: true do |f|
            %i.fas.fa-search.mobile-only.text-white.fa-lg
            = f.text_field :search, placeholder: 'キーワードを入力', class: 'fix-margin mobile-only mobile-search-form'

          -# 通知
          = render 'notices/index'

          %li.nav-item.fix-margin.mobile-none= link_to '投稿する', '#', class: 'post-modal-trigger'

          %li.nav-item.dropdown.mobile-none
            %a#dropdown.nav-link.dropdown-toggle{ "aria-expanded": "false",
                                                  "aria-haspopup": "true",
                                                  "data-toggle": "dropdown",
                                                  href: "#"} アカウント
            %ul.dropdown-menu{"aria-labelledby": "dropdown"}

              %li.dropdown-item= link_to   'プロフィール', current_user,                   class: 'fix-hover'
              %li.dropdown-item= link_to   '設定',        setting_form_user_path(current_user), class: 'fix-hover'
              %li.dropdown-item= button_to 'ログアウト',   logout_path, method: :delete,   class: 'fix-hover'


  -# スマホ向け
  -if logged_in?
    %i.fas.fa-align-justify.fa-2x.menu-trigger.nav-item.mobile-only
    %nav.slide-menu.bg-dark.nav-item.mobile-only.close
      .slide-item
      .slide-item
        %i.fas.fa-home.fa-2x
        = link_to 'ホーム', root_path, class: 'slide-item'
      .slide-item
        %i.far.fa-address-card.fa-2x
        = link_to 'プロフィール',current_user, class: 'fix-hover slide-item'
      .slide-item
        %i.far.fa-edit.fa-2x
        = link_to '投稿する', '#', class: 'slide-item post-modal-trigger'
      .slide-item
        %i.fas.fa-cog.fa-2x
        = link_to '設定', setting_form_user_path(current_user), class: 'fix-hover slide-item'
      .slide-item
        %i.fas.fa-sign-out-alt.fa-2x
        = button_to 'ログアウト', logout_path, method: :delete, class: 'fix-hover slide-item'
    .overlay
