.fixed-top
  %nav.navbar.navbar-expand.bg-info.text-secondary.header
    .container
      = link_to 'Failearn', root_path, id: "logo"

      %ul.navbar-nav.navbar-right
        -if !logged_in?
          %li.nav-item.fix-margin.mobile-none= link_to 'ヘルプ',  '#'
          %li.nav-item.fix-margin.mobile-none= link_to '概要',    '#'
          %li.nav-item.fix-margin=             link_to 'ログイン', login_path
          %li.nav-item.fix-margin=             link_to '新規登録', new_user_path
        -else

          %li.nav-item.fix-margin.mobile-none=             link_to '投稿一覧', articles_path
          %li.nav-item.fix-margin.mobile-none=             link_to '投稿する', new_article_path

          %li.nav-item.dropdown.mobile-none
            %a#dropdown.nav-link.dropdown-toggle{ "aria-expanded": "false",
                                                  "aria-haspopup": "true",
                                                  "data-toggle": "dropdown",
                                                  href: "#"} アカウント
            %ul.dropdown-menu{"aria-labelledby": "dropdown"}

              %li.dropdown-item=               link_to   'プロフィール', current_user,                 class: 'fix-hover'
              %li.dropdown-item=               link_to   '設定',        '#',                          class: 'fix-hover'
              %li.dropdown-item=               button_to 'ログアウト',   logout_path, method: :delete, class: 'fix-hover'

  %i.fas.fa-align-justify.fa-2x.menu-trigger.pc-none
  %nav.slide-menu.bg-dark.header.pc-none.close
    %h2 メニュー
    %ul.navbar-nav.navbar-right
      %li.nav-item=  link_to  '投稿一覧',       articles_path
      %li.nav-item=  link_to  '投稿する',       new_article_path
      %li.nav-item=  link_to   'プロフィール',  current_user,                 class: 'fix-hover'
      %li.nav-item=  link_to   '設定',         '#',                           class: 'fix-hover'
      %li.nav-item=  button_to 'ログアウト',    logout_path, method: :delete, class: 'fix-hover'
  .overlay
