.modal-bg
  .post-modal
    %i.fas.fa-times.fa-2x.mobile-none
    %i.fas.fa-times.mobile-only
    .article-select
      = button_to new_article_path, method: :get, class: 'button-css-none' do
        %i.far.fa-edit.fa-4x.mobile-none
        %i.far.fa-edit.fa-2x.mobile-only
        %p.article-select 記事を書く
    .micropost-select
      = button_to new_article_path, method: :get, class: 'button-css-none' do
        %i.far.fa-comment-dots.fa-4x.mobile-none
        %i.far.fa-comment-dots.fa-2x.mobile-only
        %p.article-select つぶやく

.fixed-top
  %nav.navbar.navbar-expand.bg-info.text-secondary.header
    .container
      = link_to 'Failearn', root_path, id: "logo"

      %ul.navbar-nav.navbar-right

        -if !logged_in?
          %li.nav-item.fix-margin.mobile-none= link_to 'ヘルプ',  '#'
          %li.nav-item.fix-margin.mobile-none= link_to '概要',    '#'
          %li.nav-item.fix-margin=             link_to 'ログイン', login_path
          %li.nav-item.fix-margin=             link_to '新規登録', new_user_path

        -else
          %li.nav-item.fix-margin.mobile-none= link_to '投稿一覧', articles_path
          %li.nav-item.fix-margin.mobile-none= link_to '投稿する', '#', class: 'post-modal-trigger'

          %li.nav-item.dropdown.mobile-none
            %a#dropdown.nav-link.dropdown-toggle{ "aria-expanded": "false",
                                                  "aria-haspopup": "true",
                                                  "data-toggle": "dropdown",
                                                  href: "#"} アカウント
            %ul.dropdown-menu{"aria-labelledby": "dropdown"}

              %li.dropdown-item= link_to   'プロフィール', current_user,                 class: 'fix-hover'
              %li.dropdown-item= link_to   '設定',        '#',                          class: 'fix-hover'
              %li.dropdown-item= button_to 'ログアウト',   logout_path, method: :delete, class: 'fix-hover'


  -# スマホ向け
  -if logged_in?
    %i.fas.fa-align-justify.fa-2x.menu-trigger.mobile-only
    %nav.slide-menu.bg-dark.mobile-only.close
      .slide-item
      .slide-item
        %i.far.fa-address-card.fa-2x
        = link_to 'プロフィール',current_user, class: 'fix-hover slide-item'
      .slide-item
        %i.far.fa-edit.fa-2x
        = link_to '投稿する', '#', class: 'slide-item post-modal-trigger'
      .slide-item
        %i.fas.fa-list-ul.fa-2x
        = link_to '投稿一覧', articles_path, class: 'slide-item'
      .slide-item
        %i.fas.fa-cog.fa-2x
        = link_to '設定', '#', class: 'fix-hover slide-item'
      .slide-item
        %i.fas.fa-sign-out-alt.fa-2x
        = button_to 'ログアウト', logout_path, method: :delete, class: 'fix-hover slide-item'
    .overlay
