!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{name: "twitter:card", content: "summary_large_image"}
    %meta{name: "twitter:site", content: "@nizi_24a"}
    %meta{property: "og:url", content: "https://faila.herokuapp.com"}
    %meta{property: "og:title", content: "FaiLa –失敗共有SNS"}
    %meta{property: "og:description", content: "記事やつぶやきを投稿しよう"}
    %meta{property: "og:image", content: "https://faila.herokuapp.com"}

    %title=full_title(yield(:title))
    = csrf_meta_tags

    = stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'confirm.js'
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"}


  %body
    = render 'layouts/header'
    .container
      - flash.each do |message_type, message|
        .alert{class: "alert-#{message_type}"}
          =message
      = yield
    = render 'layouts/footer'
